body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 800px;
}

#new-dog-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}

#new-dog-button:hover {
    background-color: #0056b3;
}

#content {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#dog-image-container,
#json-container {
    width: 48%;
}

#dog-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

#json-container {
    text-align: left;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 10px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}